* {
  font-family: Quicksand, serif;
  margin: 0;
  padding: 0;
}

.card {
  border: 0.5px solid gray;
  width: 250px;
  height: auto;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  margin-top: 30px;
  /* text-align: center; */
  /* box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.182); */
}

.card img {
  width: 100%;
  height: auto;
}

.product-name {
  font-size: 30px;
  margin-bottom: 10px;
  /* margin-bottom: -12px; */
}

.product-price {
  font-size: 20px;
  /* margin-bottom: -10px; */
}

.product-oldprice {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
  font-size: 20px;
  /* margin-bottom: -10px; */
}

.card .product-description {
  margin: 5px 0 5px 0;
  font-size: 16px;
}

.card .icons-container {
  color: orange;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.product-btn {
  padding: 15px 20px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

/* Navigation Bar */

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
}

nav img {
  width: 40%;
}
.menus {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: 300px;
}
.menus a {
  /* justify-content: space-between; */
  color: white;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
}

section {
  padding: 0 50px;
}

.menus a:hover {
  color: white;
  transition: 0.5s ease;
  text-decoration: underline;
}

.menus a:active {
  color: aquamarine;
}
